
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

@section scripts {

}

@section viewCart{
    <ul class="dropdown-menu" style="list-style: none; width: 600px;">
        <table class="table table-hover" id="cartTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>

        </table>
    </ul>
}
@section btnStep{
    <!--btnStep-->
    <div class="row btnStep" style="margin-top: 7px;">
        <div class="col-xs-9 stepHeader">
            <ul class="nav nav-pills nav-justified thumbnail" style="width: 810px;">
                <li class="stepBtn">
                    <a href="order">
                        <h4 class="list-group-item-heading stephead">Step 1</h4>
                        <p class="list-group-item-text">Order Documents</p>
                    </a>
                </li>                
                <li class="stepBtn">
                    <a href="cart">
                        <h4 class="list-group-item-heading stephead">Step 2</h4>
                        <p class="list-group-item-text">Edit Cart</p>
                    </a>
                </li>
                <li class="stepBtn">
                    <a href="info">
                        <h4 class="list-group-item-heading stephead">Step 3</h4>
                        <p class="list-group-item-text">Delivery Info</p>
                    </a>
                </li>
                <li class="active">
                    <a href="success">
                        <h4 class="list-group-item-heading stephead">Step 4</h4>
                        <p class="list-group-item-text">Checkout</p>
                    </a>
                </li>
                <li class="stepBtn">
                    <a href="payment">
                        <h4 class="list-group-item-heading stephead">Step 5</h4>
                        <p class="list-group-item-text">Payment</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.btnStep -->
}

@section body {

    <div class="container item-list-cont" style="margin-top: 170px;">
    <div class="row">
        <div class="col-sm-10 col-md-8 stepHeader">
            <h3 class="text-label">Summary of Transaction</h3>
            <hr>
            <br>

            <table class="table table-hover">
                <thead class="table-header" style="text-align: center">
                    <tr><td colspan="2">Transaction Details</td></tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Reference No.</strong></td>
                        <td> 1165129647</td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td> @ViewBag.name </td>
                    </tr>
                    <tr>
                        <td><strong>Current Address </strong></td>
                        <td> @ViewBag.currentAddress </td>
                    </tr>
                    <tr>
                        <td><strong>Contact No.</strong></td>
                        <td> @ViewBag.contactNumber </td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td> @ViewBag.email </td>
                    </tr>
                    <tr>
                        <td><strong>Place of Birth</strong></td>
                        <td> @ViewBag.placeOfBirth </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover">
                <thead class="table-header" style="text-align: center">
                    <tr><td colspan="2">Delivery Details</td></tr>
                </thead>
                <tbody>
                    @if (ViewBag.method == "shipping")
                    {
                        <tr>
                            <td><strong>Mailing Address</strong></td>
                            <td> @ViewBag.mailingAddress</td>
                        </tr>
                        <tr>
                            <td><strong>Delivery Area</strong></td>
                            <td> @ViewBag.delivArea </td>
                        </tr>
                        <tr>
                            <td><strong>Delivery Charge</strong></td>
                            <td> Php @ViewBag.delivCharge.00 </td>
                        </tr>
                        <tr>
                            <td><strong>Processing Type</strong></td>
                            <td> Regular Processing </td>
                        </tr>
                        <tr>
                            <td><strong>Date Order/s Processed</strong></td>
                            <td> @ViewBag.dateNow </td>
                        </tr>
                        <tr>
                            <td><strong>Date Due to the Courier</strong></td>
                            <td> @ViewBag.dateCourier </td>
                        </tr>
                        <tr>
                            <td><strong>Estimated Delivery Date</strong></td>
                            <td> @ViewBag.dueDate </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><strong>Pickup Area</strong></td>
                            <td> @ViewBag.pickupArea</td>
                        </tr>
                        <tr>
                            <td><strong>Processing Type</strong></td>
                            <td> Regular Processing </td>
                        </tr>
                        <tr>
                            <td><strong>Date Order/s Processed</strong></td>
                            <td> @ViewBag.dateNow </td>
                        </tr>
                        <tr>
                            <td><strong>Estimated Pick-up Date</strong></td>
                            <td> @ViewBag.dueDate </td>
                        </tr>
                    }


                </tbody>
            </table>

            <table class="table table-hover">
                <thead class="table-header">
                    <tr>
                        <th>Product</th>
                        <th></th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Start item -->
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">Official Transcript of Records (for Employment for Graduates)</a></h4>
                                    <h5 class="media-heading"> for degree <a href="#">Bachelor - BS CS</a></h5>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>3</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>P200.00</strong></td>
                        <td class="col-sm-2 col-md-2 text-center"><strong>P600.00</strong></td>

                    </tr> <!-- End item -->

                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td width="20%"><h5>Total Delivery Cost<br>Total Document Cost</h5><h3>Total Cost</h3></td>

                        <td class="text-right"><h5><strong>P128.00<br>P600.00</strong></h5><h3>P728.00</h3></td>
                    </tr>
                </tfoot>
            </table>

            <div>
                <a href="info">
                    <button type="submit" class="btn" style="color: white; float: left; background-color: #5cb85c;">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Go Back
                    </button>
                </a>


                <a href="payment">
                    <button type="submit" class="btn" style="background-color: #5cb85c; color: white; float: right; margin-left: 10px">
                        Proceed to Payment <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </a>
                <span>&nbsp; &nbsp;</span>

            </div>


        </div><!--End of row-->
    </div> <!--End of container-->


}

